 /*   .regis{
  color: darkgoldenrod;
}

.register{
  margin-left: 400px;
  background-color:skyblue;
  width: 600px;
   height:300px; 
  padding:10px;
}
.secondstyle{
  margin-left: 20px;
}
.cal_reg{
  padding: 20px;
}
.form_reg{
  margin-left: 60px;
  width: 40px;
}
.appleform{
  margin-left: 42px;
}  
.orangeform{
  margin-left: 50px;
  width: 150px;
  height: 25px;
}
.bananaform{
  margin-left: 30px;
}
.old_form{
  margin-left: 30px;
  width: 40px;
}
.oldform{
  margin-left: 30px;
}
.formcal{
  margin-left: 30px;
}
.calculform{
  margin-left: 50px;
}
.calculformed{
  margin-left: 45px;
  width: 40px;
}
.techform{
  margin-left: 48px;
  width: 40px;
}
.fatherlabel{
  margin-left: 50px;
}
.schoollabel{
  margin-left: 45px;
  width: 40px;
}
.mainform{
  margin-left: 100px;
  margin-bottom: 30px;
}
.inputstyle{
  margin-left: 70px;
  width: 250px;
  height: 100px;
  margin-top: 10px;
}
.claform{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.domaform{
  margin-left: 100px;
  font-size: 25px;
  background-color:burlywood;
   width: 100px; 
   background-color: chocolate; 

}
.formstyle{
  margin-left: 100px;
  font-size: 25px;
  background-color:burlywood;
}  */

